html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 100%;
  color: #444444;
  line-height: 1.6;
}

#navbar {
  width: 100%;
  position: fixed;
  top: 0;
}
#navbar ul {
  text-align: center;
  background-color: red;
  padding: 12px;
}

#navbar ul li {
  display: inline-block;
}

#navbar ul li a {
  text-decoration: none;
  font-size: 100%;
  color: white;
  padding: 14px;
}

#navbar ul li a:hover {
  color: black;
  font-weight: 700;
  background-color: yellow;
} 

#welcome-section {
  height: 100vh;
}

.welcome-section-img-div {
  padding-top: 6rem;
}

#responsive-image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid yellow;
}

.welcome-section-text-div {
  text-align: center;
  line-height: 1.6;
  padding: 2rem 0;
}

.welcome-section-text-div h1 {
  padding-bottom: 32px 0;
}

#projects {
  height: 100vh;
}
.projects-section-text-div {
  text-align: center;
  line-height: 1.6;
  padding: 2rem 0;
} 

.projects-section-text-div h1 {
  padding: 3rem 0;
}

.project-tile img {
  display: block;
  max-width: 100%;
  margin: 0 auto;

}

#contact {
  height: 100vh;
}
.contact-section-text-div {
  text-align: center;
  line-height: 1.6;
  padding: 2rem 0;
}

.contact-section-text-div h1 {
  padding: 3rem 0; 
}

#github {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 4rem;
}

#github a {  
  font-size: 6rem;
  color: black;
}

#github a:hover {
  color: purple;
}

#freecodecamp {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 4rem;
}

#freecodecamp a {  
  font-size: 6rem;
  color: black;
}

#freecodecamp a:hover {
  color: darkgreen;
}

#codepen {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 4rem;
}

#codepen a {  
  font-size: 6rem;
  color: black;
}

#codepen a:hover {
  color: gold;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: red;
  text-align: center;
  font-size: 100%;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: black;
  font-weight: 700;
  background-color: yellow;
}

@media screen and (min-width: 800px) {
  #navbar ul {
    text-align: right;
  }




}