/*General Styles*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: black;
  line-height: 1.5em;
}
/**************************************************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {} 

/*Navbar Styles*/
#navbar {
  width: 100%;
  position: fixed;
  top: 0;
}

#navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: #d11013;
}

#navbar ul li {
  padding: 1em;
}

#navbar ul li a {
  text-decoration: none;
  color: white;
}

#navbar ul li a:hover {
  color: black;
  font-weight: 700;
  background-color: #f6ec35;
} 
/**************************************************/

/*About Section Styles*/
#welcome-section {
  height: 100vh;
}

.welcome-section-img-div {
  padding-top: 6em;
}

#responsive-image {
  display: block;
  max-width: 100%;
  margin: auto;
  border-radius: 50%;
  border: 10px solid #f6ec35;
}

.welcome-section-text-div {
  text-align: center;
  line-height: 1.5;
  padding-top: 3em;
  margin: 0 1em;
}
/**************************************************/

/*Work Section Styles*/
.projects-section-text-div {
  text-align: center;
  line-height: 1.5;
  padding-top: 4em;
} 

.projects-container h3 {
  text-align: center;
  margin-top: 2em;
}

.project-tile {
  background-color: #d11013;
  padding: 1em;
  margin: 1em;  
  border-radius: 8px;
}

.project-tile img {
  display: block;
  max-width: 100%;
  width: 300px;
  height: 150px;
  margin: 2em auto 0 auto;
  border: 0.3em solid black;
  border-radius: 8px;

}

.project-tile p {
  text-align: center;
  font-weight: bold;
  color: white;
  margin-top: 1em;
  padding: 1em 0;
}
/**************************************************/

/*Contact Section Styles*/
.contact-section-text-div {
  text-align: center;
  line-height: 1.5;
  padding: 1em 0;
}

.social-icons {
  padding: 1em 0;
}

#github {
  text-align: center;
  color: #6e5494;
  padding: 1em 0;
  margin-bottom: 1em;
}

#github a {  
  font-size: 5em;
  color: #6e5494;
}
 
#github a:hover {
  color: #6e5494;
}

#freecodecamp {
  text-align: center;
  color: #006400;
  padding: 1em 0;
  margin-bottom: 1em;
}

#freecodecamp a {  
  font-size: 5em;
  color: #006400;
}

#freecodecamp a:hover {
  color: #006400;
}

#codepen {
  text-align: center;
  color: #fcd000;
  padding: 1em 0;
  margin-bottom: 1em;
}

#codepen a {  
  font-size: 5em;
  color: #fcd000;
}

#codepen a:hover {
  color: #fcd000;
}
/**************************************************/

/*Footer Section Styles*/
footer {
  position: static;
  bottom: 0;
  width: 100%;
  background-color: #d11013;
  text-align: center;
  color: white;
}

footer {
  padding: 1em 0;
  margin: 1em 0;
}
footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: black;
  font-weight: 700;
  background-color: #f6ec35;
}

/**************************************************/

/* Small devices (portrait tablets and large phones, 601px and up) */
@media only screen and (min-width: 601px) {
  .welcome-section-img-div {
    padding-top: 10em;
  }

  .welcome-section-text-div {
    text-align: center;
    line-height: 1.5;
    margin: 0 5em;
  }

  .rwd-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: center;
  }

  .js-algo-and-ds-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: center;
  }

  .front-end-libs-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: center;
  }

  .social-icons {
    display: flex;
    justify-content: space-around;
  }
}
/**************************************************/

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .rwd-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: center;
  }

  .js-algo-and-ds-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: center;
  }

  .front-end-libs-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: center;
  }
}
/**************************************************/

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .rwd-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33.33%;
    justify-content: center;
  }

  .js-algo-and-ds-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33.33%;
    justify-content: center;
  }

  .front-end-libs-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33.33%;
    justify-content: center;
  }
} 
/**************************************************/

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .rwd-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 20%;
    justify-content: center;
  }

  .js-algo-and-ds-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 20%;
    justify-content: center;
  }

  .front-end-libs-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 20%;
    justify-content: center;
  }
}
/**************************************************/